# Virtual Environment
venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo

# Pytest
.pytest_cache/

# VS Code
.vscode/

# PyCharm
.idea/

# Reports
reports/

# Allure
allure-results/
allure-report/

# Logs
*.log

# Environment
.env

# Windows
Thumbs.db
Desktop.ini